<div class="container">
  
  <mat-toolbar>
    <div class="logo-container">
      <img src="https://i.vimeocdn.com/portrait/15706203_640x640" alt="" class="logo-img">
      <h3 class="oqy">OQFY</h3>
    </div>
    <mat-label class="dropdown-label">Services  <mat-icon class="dropdown-icon">arrow_drop_down</mat-icon></mat-label>
    <mat-label>User Management</mat-label>
    <mat-label>My Orders</mat-label>
    <mat-label>Reports</mat-label>
    <mat-label>Staff Inventory</mat-label>
    <mat-label>Bar codes</mat-label>
    <mat-label class="invoice-label">Invoice</mat-label>
    <button class="coming-button">coming soon</button>
    <mat-icon class="notification-icon">notifications_none</mat-icon>
    <span class="notification-count">2</span>
    <button class="profile-button">
      <mat-icon class="dropdown-icon">arrow_drop_down</mat-icon>
      <span class="name-symbol">Michael Smith</span>
      <mat-icon class="account-circle">account_circle</mat-icon>
    </button>
  </mat-toolbar>

  <mat-card class="mat-card1">
    <mat-card-content>
      <img src="https://img.freepik.com/premium-vector/waving-hand-vector-icon-waving-hand-gesture-symbol-isolated-white-background-vector-eps-10_532800-303.jpg?w=2000" height="40px" style="margin-bottom: -10px;">
      Welcome back, <strong>Michael</strong>
      <p class="para">25 May 2023-Tuesday</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-card2">
    <mat-card-content class="freq">
      <h4>Frequently used</h4>
      <mat-card class="mat-card3">
        <mat-card-content>
          <h5>Contract Execution upload</h5>
          <p class="p1">Lorem ipsum dolor sit amet consecteur. Senectus sed urna ac tempus ornare.</p>
          <a href="" class="a1">Get Started</a>
        </mat-card-content>
      </mat-card>
      <mat-card class="mat-card4">
        <mat-card-content>
          <h5>E-Stamp Services</h5>
          <p class="p1">Lorem ipsum dolor sit amet consecteur. Morbi adipiscing vulputate morbi!,,, amet</p>
          <a href="" class="a1">Get Started</a>
        </mat-card-content>
      </mat-card>
      <mat-card class="mat-card5">
        <mat-card-content>
          <h5>E-Sign Services</h5>
          <p class="p1">Lorem ipsum dolor sit amet consecteur. Mauris enium pulvinar interdum augue eu.</p>
          <a href="" class="a1">Get Started</a>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-card6">
    <mat-card-content class="matcard0">
      <h5>My Wallet</h5>
      <mat-icon class="account">account_balance_wallet</mat-icon>
      <h2 class="symbol"><span>&#8377;</span>2,50,000</h2>
      <p class="p3">Current Balance</p>
      <p class="p4">Running low? <a href="">Notify admin</a> now.</p>
    </mat-card-content>
  </mat-card>

  <div class="matform1">
    <p class="p5">All branches</p>
    <div class="select-icon1">
      <mat-select class=""></mat-select>
    </div>
  </div>

  <div class="matform2">
    <p class="p6">Custom range</p>
    <div class="select-icon2">
      <mat-select class=""></mat-select>
    </div>
  </div>

  <div class="matform3">
    <p class="p7">March 2020</p>
    <mat-icon class="daterange">date_range</mat-icon>
  </div>

  <div class="card4">
    <mat-card class="mat-card7">
      <mat-card-content class="content3">
        <h4>Order Details<a href="" style="margin-left: 800px;">View All</a></h4>
        
        <mat-card class="mat-card8">
          <mat-card-content class="head1">
            <h2 class="head2">18 <mat-icon class="watch_later"><img src="https://www.bing.com/images/blob?bcid=S5oMa6NsFtQFFQ"  height="20px" width="30px"></mat-icon></h2>
            <p class="to1">Total Orders</p>
            <p class="pinop"><mat-icon class="arrow">arrow_outward</mat-icon>+2.4%</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="mat-card9">
          <mat-card-content class="head3">
            <h2 class="head4">10 <mat-icon class="watch_later"><img src="https://www.bing.com/images/blob?bcid=Sz83nd3TktQFrw" height="25px"></mat-icon></h2>
            <p class="to2">In Progress</p>
            <p class="pinop1"><mat-icon class="arrow">arrow_outward</mat-icon>+2.4%</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="mat-card10">
          <mat-card-content>
            <h2 class="head4">5<mat-icon class="watch_later"><img src="https://www.bing.com/images/blob?bcid=Sy8f-bl3ldQF0w" alt="" height="25px"></mat-icon></h2>
            <p class="to2">Completed order</p>
            <p class="pinop1"><mat-icon class="arrow">arrow_outward</mat-icon>+2.4%</p>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
      <mat-card class="mat-card11">
        <mat-card-content>
          <h2 class="head4">3 <mat-icon class="watch_later"><img src="https://www.bing.com/images/blob?bcid=S4U5O06iNNQFUw" alt="" height="28px"></mat-icon></h2>
          <p class="to2">Canceled order</p>
          <p class="pinop1"><mat-icon class="arrow1">arrow_downward</mat-icon>+2.4%</p>
        </mat-card-content>
      </mat-card>
    </mat-card>
  </div>

  <mat-card class="mat-card12">
    <mat-card-content class="matcard33">
      <h4>Pending Actions</h4>
      <mat-card class="mat-card13">
        <mat-card-content class="matcard13">
          <p class="heading">#trd354688<p>
              <div class="matform5">
                <p class="p8">10 days left</p>
                <p class="p9">2 files are waiting to upload</p>
              </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="mat-card14">
        <mat-card-content class="matcard14">
          <p class="heading1">#3325577<p>
              <div class="matform6">
                <p class="p10">10 days left</p>
                <p class="p11">2 files are waiting to upload</p>
              </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="mat-card15">
        <mat-card-content class="matcard15">
          <p class="heading2">#76298347<p>
              <div class="matform7">
                <p class="p12">10 days ago</p>
                <p class="p13">2 files are waiting to upload</p>
              </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="mat-card16">
        <mat-card-content class="matcard16">
          <p class="heading3">#65873428<p>
              <div class="matform7">
                <p class="p14">10 days ago</p>
              </div>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-card17">
    <mat-card-content class="matcard17">
      <div class="matform9">
        <h5 class="esign">E-sign count</h5>
        <img src="https://www.bing.com/images/blob?bcid=S0Y1T8z6FtQFjQ" alt="" class="img9">
        <div class="initiated-box"><p class="initi1">Initiated</p></div>
        <div class="pending-box"><p class="pending1">Pending</p></div>
        <div class="blue-box"><p class="signed">Signed</p></div>
        <div class="expired-box"><p class="Expired">Expired</p></div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-card18">
    <mat-card-content class="matcard18">
      <div class="matform9">
        <h5 class="esign1">E-Stamp count</h5>
        <img src="https://www.bing.com/images/blob?bcid=S2.BPYl.RdQFQw" alt="" class="img9">
        <div class="initiated-box"><p class="initi1">Initiated</p></div>
        <div class="pending-box"><p class="pending1">Pending</p></div>
        <div class="blue-box"><p class="signed">Signed</p></div>
        <div class="expired-box"><p class="Expired">Expired</p></div>
      </div>
    </mat-card-content>
  </mat-card>
</div>